@import "tailwindcss";

/* Configure Tailwind to scan for utility classes */
@source "../../activities/**/*.{js,jsx,ts,tsx}";
@source "../src/**/*.{js,jsx,ts,tsx}";

html,
body,
#root {
  min-height: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

body {
  min-height: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
